<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="mr-2 p-0">
    <span style="font-size: 2em; color: white;">
      <i class="fab fa-envira"></i>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active' : p.link == ''}" *ngFor="let p of permisos; first as isFirst">
        <a class="nav-link text-white" [routerLink]="p.link" >{{ p.label }}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <ul *ngIf="visibleRouterOutlet" class="navbar-nav  my-2 my-lg-0">
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <app-login *ngIf="!visibleRouterOutlet" (loginExito)="vistaUsuarioLogueado()"></app-login>
  <router-outlet *ngIf="visibleRouterOutlet"></router-outlet>
</div> -->
<button class="btn btn-primary" (click)="probarItem()">Probar</button>

<router-outlet></router-outlet>