<app-lista-eventos [listaEventos]="listaEventos" (onApuntarse)="callApuntarse($event)" [bandEdit]="bandMisEventos"
                   [inputBandMisEventos]="inputBandMisEventos" (onDesapuntarse)="callDesapuntarse($event)" (onVer)="callVer($event, content)"
                  (onEditar)="callFormEditar($event, content)" (onConfirmarAsis)="callConfirmarAsis($event)">
              
              <div *ngIf="!inputBand">
                <div btnFormEvento *ngIf="bandMisEventos">
                  <button class="btn btn-success" (click)="showFormEvento(content)" >Nuevo</button>
                </div>
              </div>

</app-lista-eventos>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ bandFormEvento ? 'Evento' : 'Lista de Asistentes' }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-lista-asistentes *ngIf="!bandFormEvento" [lista_asistentes]="lista_asistentes"></app-lista-asistentes>
        <app-form-evento *ngIf="bandFormEvento" (onSave)="[listarEventos(), modal.close('Save click')]"></app-form-evento>
    </div>
  </ng-template>